<!doctype html>
<html>
<head>
	<title>Demo Page</title>
</head>
<body>
	<a href="/customers">Customers</a>
	<a href="/orders">Orders</a>
	<a href="/employees">Employees</a>
	{{{body}}}
</body>
</html>
